# Car Resale Value Prediction

## Split the Data into Independent and Dependent Variables

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Data/autos.csv",header=0,sep=',',encoding='Latin1',)

In [3]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [11]:
X = df.drop(['name','price'],axis= 1)
Y = df['price']

In [12]:
print(X)

                dateCrawled  seller offerType   abtest vehicleType  \
0       2016-03-24 11:52:17  privat   Angebot     test         NaN
1       2016-03-24 10:58:45  privat   Angebot     test       coupe
2       2016-03-14 12:52:21  privat   Angebot     test         suv
3       2016-03-17 16:54:04  privat   Angebot     test  kleinwagen
4       2016-03-31 17:25:20  privat   Angebot     test  kleinwagen
...                     ...     ...       ...      ...         ...
371523  2016-03-14 17:48:27  privat   Angebot     test         NaN
371524  2016-03-05 19:56:21  privat   Angebot     test      cabrio
371525  2016-03-19 18:57:12  privat   Angebot     test         bus
371526  2016-03-20 19:41:08  privat   Angebot     test       kombi
371527  2016-03-07 19:39:19  privat   Angebot  control   limousine

        yearOfRegistration    gearbox  powerPS        model  kilometer  \
0                     1993    manuell        0         golf     150000
1                     2011    manuell      190          NaN     125000
2                     2004  automatik      163        grand     125000
3                     2001    manuell       75         golf     150000
4                     2008    manuell       69        fabia      90000
...                    ...        ...      ...          ...        ...
371523                2005        NaN        0          NaN      20000
371524                2000  automatik      101       fortwo     125000
371525                1996    manuell      102  transporter     150000
371526                2002    manuell      100         golf     150000
371527                2013    manuell      320      m_reihe      50000

        monthOfRegistration fuelType           brand notRepairedDamage  \
0                         0   benzin      volkswagen               NaN
1                         5   diesel            audi                ja
2                         8   diesel            jeep               NaN
3                         6   benzin      volkswagen              nein
4                         7   diesel           skoda              nein
...                     ...      ...             ...               ...
371523                    1      NaN  sonstige_autos               NaN
371524                    3   benzin           smart              nein
371525                    3   diesel      volkswagen              nein
371526                    6   diesel      volkswagen               NaN
371527                    8   benzin             bmw              nein

                dateCreated  nrOfPictures  postalCode             lastSeen
0       2016-03-24 00:00:00             0       70435  2016-04-07 03:16:57
1       2016-03-24 00:00:00             0       66954  2016-04-07 01:46:50
2       2016-03-14 00:00:00             0       90480  2016-04-05 12:47:46
3       2016-03-17 00:00:00             0       91074  2016-03-17 17:40:17
4       2016-03-31 00:00:00             0       60437  2016-04-06 10:17:21
...                     ...           ...         ...                  ...
371523  2016-03-14 00:00:00             0       39576  2016-04-06 00:46:52
371524  2016-03-05 00:00:00             0       26135  2016-03-11 18:17:12
371525  2016-03-19 00:00:00             0       87439  2016-04-07 07:15:26
371526  2016-03-20 00:00:00             0       40764  2016-03-24 12:45:21
371527  2016-03-07 00:00:00             0       73326  2016-03-22 03:17:10

[371528 rows x 18 columns]

## Spiltting the Training data and Test Data

In [13]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.1,random_state = 2)

In [14]:
print(X_train)

                dateCrawled  seller offerType   abtest vehicleType  \
124186  2016-03-05 16:41:26  privat   Angebot  control   limousine
332416  2016-03-23 19:58:10  privat   Angebot  control       coupe
221578  2016-03-21 15:53:00  privat   Angebot  control         bus
196223  2016-03-11 10:38:04  privat   Angebot     test         suv
293977  2016-03-28 20:37:39  privat   Angebot  control  kleinwagen
...                     ...     ...       ...      ...         ...
84434   2016-03-19 15:51:37  privat   Angebot  control  kleinwagen
95816   2016-03-09 23:57:25  privat   Angebot     test   limousine
203245  2016-03-26 00:46:04  privat   Angebot     test  kleinwagen
100879  2016-04-03 15:57:01  privat   Angebot     test       kombi
351400  2016-03-12 18:53:44  privat   Angebot     test      cabrio

        yearOfRegistration    gearbox  powerPS    model  kilometer  \
124186                1998  automatik      140      3er     125000
332416                2014    manuell      184   andere      20000
221578                2007    manuell       86    modus     150000
196223                2011  automatik      306  x_reihe     100000
293977                2003    manuell       65    micra     150000
...                    ...        ...      ...      ...        ...
84434                 2004    manuell      116      1er     125000
95816                 1999    manuell      101       a4     150000
203245                1990    manuell      107     golf     150000
100879                2002    manuell      131       a4     150000
351400                1985    manuell       76   andere     100000

        monthOfRegistration fuelType       brand notRepairedDamage  \
124186                    2   benzin         bmw              nein
332416                    9   benzin        mini              nein
221578                    7   diesel     renault              nein
196223                    8   diesel         bmw              nein
293977                   10   benzin      nissan              nein
...                     ...      ...         ...               ...
84434                    11   benzin         bmw               NaN
95816                     4   diesel        audi              nein
203245                    6   benzin  volkswagen              nein
100879                    3   benzin        audi              nein
351400                   11   benzin        fiat              nein

                dateCreated  nrOfPictures  postalCode             lastSeen
124186  2016-03-05 00:00:00             0       67593  2016-04-05 15:17:12
332416  2016-03-23 00:00:00             0       80637  2016-04-06 01:45:38
221578  2016-03-21 00:00:00             0       44652  2016-04-06 14:44:38
196223  2016-03-11 00:00:00             0       71546  2016-03-23 00:45:42
293977  2016-03-28 00:00:00             0       21395  2016-04-07 02:46:56
...                     ...           ...         ...                  ...
84434   2016-03-19 00:00:00             0       97357  2016-04-01 03:46:52
95816   2016-03-09 00:00:00             0       48529  2016-03-22 09:15:54
203245  2016-03-25 00:00:00             0       26419  2016-03-26 06:41:49
100879  2016-04-03 00:00:00             0       89358  2016-04-05 15:16:44
351400  2016-03-12 00:00:00             0       53119  2016-04-07 12:47:03

[334375 rows x 18 columns]

In [15]:
print(X_test)

                dateCrawled  seller offerType   abtest vehicleType  \
298087  2016-03-26 11:52:35  privat   Angebot  control   limousine
215713  2016-03-11 21:39:09  privat   Angebot     test   limousine
136131  2016-04-02 11:48:52  privat   Angebot     test  kleinwagen
145462  2016-03-11 12:00:13  privat   Angebot  control  kleinwagen
241893  2016-03-30 19:49:24  privat   Angebot     test         NaN
...                     ...     ...       ...      ...         ...
135243  2016-03-06 19:25:43  privat   Angebot     test  kleinwagen
192919  2016-03-28 22:46:40  privat   Angebot  control       kombi
275728  2016-03-10 10:47:59  privat   Angebot     test  kleinwagen
112043  2016-03-27 13:06:21  privat   Angebot  control  kleinwagen
236085  2016-03-12 15:46:30  privat   Angebot  control       kombi

        yearOfRegistration    gearbox  powerPS   model  kilometer  \
298087                2007    manuell       69      ka      60000
215713                1994  automatik      286     7er     150000
136131                1969  automatik       44  kaefer      60000
145462                1996  automatik        0   corsa     125000
241893                2017  automatik        0      a6     150000
...                    ...        ...      ...     ...        ...
135243                2006    manuell       68      c1     150000
192919                2009    manuell       86   fabia      70000
275728                1995    manuell        0   corsa     150000
112043                2002    manuell        0    lupo     150000
236085                2008    manuell      140  passat     150000

        monthOfRegistration fuelType       brand notRepairedDamage  \
298087                    2   benzin        ford              nein
215713                    4   benzin         bmw               NaN
136131                    3   benzin  volkswagen              nein
145462                    5   benzin        opel              nein
241893                    7   benzin        audi               NaN
...                     ...      ...         ...               ...
135243                    2   benzin     citroen              nein
192919                   10   benzin       skoda              nein
275728                    0      NaN        opel                ja
112043                   10   benzin  volkswagen              nein
236085                    4   diesel  volkswagen              nein

                dateCreated  nrOfPictures  postalCode             lastSeen
298087  2016-03-26 00:00:00             0       86420  2016-04-05 23:17:11
215713  2016-03-11 00:00:00             0       76437  2016-03-23 23:47:43
136131  2016-04-02 00:00:00             0       31789  2016-04-02 11:48:52
145462  2016-03-11 00:00:00             0       60388  2016-03-18 03:19:30
241893  2016-03-30 00:00:00             0       53881  2016-04-07 11:45:36
...                     ...           ...         ...                  ...
135243  2016-03-06 00:00:00             0       35510  2016-03-20 19:18:13
192919  2016-03-28 00:00:00             0       30916  2016-04-03 05:17:50
275728  2016-03-10 00:00:00             0        1587  2016-03-11 10:18:17
112043  2016-03-27 00:00:00             0       65203  2016-04-03 07:51:54
236085  2016-03-12 00:00:00             0       88457  2016-03-12 15:46:30

[37153 rows x 18 columns]

In [19]:
print(Y_train)

124186     3150
332416    21900
221578     3999
196223    37500
293977     1998
          ...
84434      5999
95816      2450
203245        1
100879     4800
351400     8500
Name: price, Length: 334375, dtype: int64

In [20]:
print(Y_test)

298087    2150
215713    1299
136131    4950
145462     500
241893    1100
          ...
135243    2750
192919    5990
275728      30
112043     999
236085    5300
Name: price, Length: 37153, dtype: int64